@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Montserrat:wght@300;400;800&family=Teko&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat';
}

.overallTop{
  background-color: #14161a;
  color: #fff;
  min-height: 100vh;
}

.homeImageSection{
  background-image: url(../public/homepageimage.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.homeText{
  text-align: center;
}

.card-container{
  width: 300px;
  overflow: hidden;
  box-shadow: 0px 0px 15px -5px #fff;
  margin: 1rem;
  margin-left: 40%;
  text-align: center;
}

.image-container img{
  overflow: hidden;
  height: 200px;
}

.card-slogan{
  margin-bottom: 0.5rem;
}
.player-section{
  width: 100%;
  height: 100vh;
  position: relative;
  justify-content: space-between;
}

.amTheCaptainNow{
  width: 100%;
  padding: 100px 0px;
}
.myImg img{
  height: auto;
  width: 420px;
  border-radius: 50px;
  transition: 0.8s;
  transform-style: preserve-3d;
}
.myImg img:hover{
  transform: rotateY(180deg);
}
.aboutText{
  width: 50%;
}
.myStory{
  margin: 0 auto;
  display: flex;
  align-items: center;
  justify-content: space-around;
}
.aboutText h2{
  color: #fff;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 20px;
}
.aboutText h5{
  color: #fff;
  letter-spacing: 2px;
  font-size: 22px;
  margin-bottom: 25px;
  text-transform: capitalize;
}
.aboutText span{
  color: #ff0101;
}
.aboutText p{
  color: #989d9f;
  letter-spacing: 1px;
  line-height: 28px;
  font-size: 18px;
  margin-bottom: 45px;
}
.aboutText a{
  font-weight: bold;
  text-decoration: none;
  color: #fff;
  background-color: #ff0101;
  border: 2px solid transparent;
  padding: 13px 30px;
  border-radius: 30px;
  transition: .5s;
}
.aboutText a:hover{
  background-color: transparent;
  border: 2px solid #ff0101;
  cursor: pointer;
}

.gaming-title{
  color: #fff;
  font-size: 75px;
  text-transform: capitalize;
  margin-bottom: 10px;
  text-align: center;
}