@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Montserrat:wght@300;400;800&family=Teko&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: 'Montserrat';
}

.overallTop{
  background-color: #14161a;
  color: #fff;
  min-height: 100vh;
}

.homeImageSection{
  background-image: url(../public/homepageimage.jpg);
  height: 100vh;
  width: 100%;
  background-size: cover;
  background-position: center;
}

.homeText{
  text-align: center;
}